# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local
.env

# data & uploads
/data/
/uploads/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local drizzle migrations
/drizzle/

# typescript
*.tsbuildinfo
next-env.d.ts

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/
*.swp
